.form-input {
    outline: none;
    padding: 10px 12px;
    width: 100%;
    margin: 5px 0;
    border: 2px solid #f2f2f2;
    border-radius: 12px;
}

.form-map {
    width: 750px;
    height: 550px;
}

.service-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient:vertical;
}
.information-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient:vertical;
}

.tour-name{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
}

@media (max-width:500px) {
    .form-map{
        width: 100%;
    }
}

.subtour-about-text span{
    font-size: 16px !important;
    color: #333;
    line-height: 24px;
    font-weight: 400;
}

.swiper {
    width: 100%;
    height: 100%;
}