:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container {
  max-width: 1340px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container-mix{
  max-width: 1440px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  transition: 0.3s;
}

a:hover {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: 'Inter', sans-serif !important;
}

.menu {
  position: relative;
  display: inline-block;
}

.menu > a {
  text-decoration: none;
}

/* dropdown list */
.menu-list {
  position: absolute;
  left: 0;
  bottom: 0; /* boshlang'ich joylashuv */
  transform: translateY(100%); /* pastdan chiqish effekt */
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  min-width: 200px;
  height: 250px;
  overflow-y: scroll;
  z-index: 10;
  margin-left: -40px;
}

.menu-list a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.menu-list a:hover {
  background: #f1f1f1;
}

/* hover paytida ochiladi */
.menu:hover .menu-list {
  opacity: 1;
  visibility: visible;
  transform: translateY(104%);
}

.active-link{
  background-color: #604132;
  color:white !important;
  border-radius: 6px;
  padding: 4px 8px;
}


.country-active{
  border-radius: 6px;
  padding: 4px 8px;
  background-color: #d9e2eb;
}

.country-link{
  padding: 16px 12px;
  background-color: #d9e2eb;
  padding-right: 0;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
